{
  "parser": "babel-eslint",
  "rules": {
    "eqeqeq": 2,
    "indent": [
      2,
      2
    ],
    "quotes": [
      1,
      "double",
      "avoid-escape"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true,
    "arrowFunctions": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "require": true,
    "module": true
  }
}
