.devtools {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  padding: 1em;

  background: #eee;
  border: 2px solid #777;
}

.experiment {
  display: flex;
}

.experiment label {
  margin-right: 0.5em;
}
